<div class="container">
    <div class="row">
        <div class="col-md-5 ficha">
            <h3>Chanchi Ninja Level</h3>
        </div>
        <div class="col-md-5 ficha">
          <h3>Anuncios</h3>
        </div>
        <div class="col-md-5 ficha">
            <h3>Knowledge</h3>
        </div>
        <div class="col-md-5 ficha">
             <app-objetives></app-objetives>
        </div>
        <div class="col-md-5 ficha">
            <a href="http://localhost:8080/" onclick="window.open(this.href);return false;"><h3>H2W</h3></a> 
        </div>
        <div class="col-md-5 ficha">
            <h3>Logros</h3>
        </div>
    </div>
</div>
<ul>